<launch>

  <!-- Gazebo empty world -->
  <include file="$(find course_project)/launch/project_empty_world.launch">
    <arg name="world_name" value="$(find course_project)/worlds/museum.world"/> <!-- A cambiar por el nuevo world-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot model --> <!-- El archivo xacro del robot se llama project.xacro-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find course_project)/urdf/project.xacro'" />

  <!-- Spawn the robot model -->
<!--  <node name="movil" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model basic_amr -x 0.5 -z 0.02" />-->
  <node name="movil" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model course_project -x 0.5 -z 0.02" />

  <!-- Visualization of the robot using Rviz -->
  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find course_project)/config/project_config.rviz" required="true" />

  <!-- TF Transform Broadcaster -->
  <node name="tf_project" pkg="course_project" type="tf_project.py" />

</launch>
